body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#main {
    margin: 0 80px;
    
}

nav {
    background-color: pink;
    padding: 30px 10px;
    margin-top: 10px;
    overflow: hidden;
}

nav ul {
    padding: 0;
    margin: 0;
    float: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding-right: 25px;
    
    
}

.search-form {
    float: right;
}

.input {
    height: 30px;
}

.button {
    height: 30px;
    background-color: black;
    color: white;
}

.content {
    width: 75%;
    float: left;
    background-color: #edecec;
    margin: 10px 0;
    padding: 20px;
}

.content h1 {
    text-align: center;
}

aside {
    width: 20%;
    float: right;
    background-color: pink;
    margin: 10px 0;
    padding: 10px;
    
}

aside ul li {
    padding: 10px 0;
}

.clear {
    clear: both;
}

footer {
    background-color: #edecec;
    padding: 20px 5px;
}